@font-face {
  font-family: 'GaramondPro';
  src: url("../fonts/AGaramondPro-Italic.otf") format("opentype"); }

.purple {
  background-color: #C0A5D6 !important; }

.orange {
  background-color: #F3B163 !important; }

.pink {
  background-color: #EBA293 !important; }

.cyan {
  background-color: #6DD3C4 !important; }

.typo {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #263238; }

.typo1 {
  font-family: "Patrick Hand", cursive;
  font-style: normal; }

.typo2 {
  font-family: "Mali", sans-serif;
  font-style: normal; }

.typo3 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold !important; }

.typo4 {
  font-family: "GaramondPro", sans-serif;
  font-style: normal; }

.color-picker-mobile {
  display: none; }

.create-post {
  margin-top: 30px; }
  .create-post .man-clapping {
    padding-top: 5px; }
    .create-post .man-clapping img {
      height: 135px;
      width: 105px; }
  .create-post .heading-post h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #263238; }
  .create-post .heading-post p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #263238; }
  .create-post label {
    margin-top: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #263238; }
  .create-post input {
    margin-top: -10px;
    padding: 0;
    width: 600px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgba(163, 228, 160, 0.3); }
  .create-post input::placeholder, .create-post textarea::placeholder {
    color: rgba(156, 156, 156, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; }
  .create-post .editor {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #96D293; }
    .create-post .editor .styles {
      background-color: rgba(152, 255, 143, 0.25);
      border-style: solid;
      border-width: 0 0 0.5px 0;
      border-color: rgba(163, 228, 160, 0.3); }
      .create-post .editor .styles p {
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #263238; }
      .create-post .editor .styles .color-picked {
        border-radius: 7px;
        margin-top: 7.5px;
        width: 27px;
        height: 27px;
        background-color: #C0A5D6; }
      .create-post .editor .styles select {
        margin-left: -45px;
        width: 50px;
        background-color: transparent;
        border: 0;
        z-index: 2;
        position: relative; }
      .create-post .editor .styles select:focus {
        outline: none; }
      .create-post .editor .styles .typo-picker {
        padding-left: 15px;
        margin-top: 10px;
        width: auto; }
    .create-post .editor textarea {
      width: 100%;
      height: 150px;
      border-color: #96D293;
      border-radius: 0;
      border-width: 0;
      resize: none; }
    .create-post .editor textarea:focus {
      outline: none; }
    .create-post .editor textarea::placeholder {
      padding: 10px 0 0 15px !important; }
    .create-post .editor .add-photo img {
      margin-top: 7px;
      width: 26px;
      height: 26px; }
    .create-post .editor .add-photo p {
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #263238; }
  .create-post .send-btn {
    margin-top: 19px;
    margin-bottom: 58px;
    text-align: right; }
    .create-post .send-btn button {
      border-radius: 100px;
      background-color: #96D293;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17.7876px;
      line-height: 27px;
      color: #263238; }

@media (max-width: 768px) {
  .color-picker {
    display: none; }
  .color-picker-mobile {
    display: inline;
    color: transparent; }
  .create-post {
    margin-top: 38px; }
    .create-post .man-clapping {
      display: none; }
    .create-post .heading-post h1 {
      font-size: 21px;
      line-height: 32px; }
    .create-post .heading-post p {
      font-size: 12px;
      line-height: 18px; }
    .create-post label {
      margin-top: 17px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #263238; }
    .create-post input {
      width: 100%; }
    .create-post .editor .styles .typo-picker {
      padding-left: 30px;
      margin-top: 10px;
      width: auto; }
    .create-post .editor .styles .purple {
      background-color: #C0A5D6 !important; }
    .create-post .send-btn {
      margin-top: 18px;
      margin-bottom: 20px;
      text-align: center; }
      .create-post .send-btn button {
        font-size: 12px;
        line-height: 18px; } }
