p, h2, label, input::placeholder, textarea::placeholder {
  font-family: "Poppins", sans-serif; }

.light-purple, .light-orange, .light-pink, .cyan {
  margin-left: 7px;
  border-radius: 5px;
  width: 27px;
  height: 27px; }

.light-purple {
  background-color: #c0a5d6; }

.light-orange {
  background-color: #f3b163; }

.cyan {
  background-color: #6dd3c4; }

.light-pink {
  background-color: #eba293; }

.typo1, .typo2, .typo3, .typo4 {
  margin: 0;
  padding: 5px 0 0 15px;
  font-family: "Patrick Hand", cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #263238; }

.typo2 {
  font-family: "Mali", sans-serif;
  font-style: normal; }

.typo3 {
  font-family: "Quicksand", sans-serif;
  font-style: normal; }

.dropdown-menu {
  width: 50px !important; }

@media (max-width: 768px) {
  .typo1, .typo2, .typo3, .typo4 {
    width: 50px;
    margin-left: 10px !important; }
  .container-fluid {
    padding-left: 24px !important;
    padding-right: 24px !important; }
    .container-fluid .create-post-section .create-post-box {
      height: 100vh;
      padding: 0 !important; }
      .container-fluid .create-post-section .create-post-box .man-clapping {
        display: none; }
      .container-fluid .create-post-section .create-post-box .title {
        font-size: 21.46px !important;
        line-height: 32px !important;
        text-align: left;
        width: 100%; }
      .container-fluid .create-post-section .create-post-box .description {
        font-size: 12px !important;
        line-height: 18px !important;
        margin-bottom: 17.3px !important; }
      .container-fluid .create-post-section .create-post-box .form {
        margin-top: 0 !important; }
        .container-fluid .create-post-section .create-post-box .form input {
          width: 100% !important; }
        .container-fluid .create-post-section .create-post-box .form .add-to-post .padding {
          margin-left: 23px !important; }
          .container-fluid .create-post-section .create-post-box .form .add-to-post .padding .styles-title p {
            padding-top: 10px !important; }
          .container-fluid .create-post-section .create-post-box .form .add-to-post .padding .imgs {
            padding: 0;
            margin-left: 0px;
            margin-right: 10px; }
        .container-fluid .create-post-section .create-post-box .form .summit-btn-area {
          padding-top: 18px !important;
          padding-bottom: 20px !important;
          text-align: center !important; } }

.create-post-section .main-margin {
  height: 10vh; }

.create-post-section .create-post-box {
  height: 100vh;
  padding: 30px 69px; }
  .create-post-section .create-post-box .title {
    text-align: left !important;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #263238; }
  .create-post-section .create-post-box .description {
    color: #263238;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #263238; }
  .create-post-section .create-post-box .man-clapping {
    margin-right: 30px; }
  .create-post-section .create-post-box .form {
    margin-top: 25px; }
    .create-post-section .create-post-box .form .styles-bar {
      background-color: rgba(152, 255, 143, 0.25);
      border-width: 3px 3px 0px 3px;
      border-color: #98E18F;
      border-style: solid; }
      .create-post-section .create-post-box .form .styles-bar .padding {
        padding-left: 23px;
        padding-top: 10px; }
        .create-post-section .create-post-box .form .styles-bar .padding .styles-title p {
          color: #263238;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          padding: 0;
          margin: 0; }
    .create-post-section .create-post-box .form .add-to-post {
      border-color: #98E18F;
      border-width: 0px 3px 3px 3px;
      border-style: solid; }
      .create-post-section .create-post-box .form .add-to-post .padding {
        padding-left: 23px;
        padding-top: 10px; }
        .create-post-section .create-post-box .form .add-to-post .padding .styles-title {
          color: #263238;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          padding: 0; }
    .create-post-section .create-post-box .form textarea {
      height: 150px;
      border-color: #98E18F;
      border-radius: 0px;
      border-width: 0px 3px 0px 3px;
      resize: none; }
    .create-post-section .create-post-box .form textarea:focus {
      box-shadow: none; }
    .create-post-section .create-post-box .form input {
      margin-top: -10px;
      padding: 0;
      width: 400px;
      outline: 0;
      border-width: 0 0 2px;
      border-color: #98E18F; }
    .create-post-section .create-post-box .form input::placeholder, .create-post-section .create-post-box .form textarea::placeholder {
      color: rgba(156, 156, 156, 0.6);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px; }
    .create-post-section .create-post-box .form input:focus {
      border-color: #98E18F;
      box-shadow: none; }
    .create-post-section .create-post-box .form .summit-btn-area {
      text-align: right;
      padding-bottom: 40px; }
      .create-post-section .create-post-box .form .summit-btn-area .btn {
        background-color: #a3e4a0;
        border-radius: 60px; }
        .create-post-section .create-post-box .form .summit-btn-area .btn p {
          font-style: normal;
          font-weight: 500;
          font-size: 17.78px;
          margin: 0;
          padding: 0; }
