@font-face {
  font-family: 'GaramondPro';
  src: url("../fonts/AGaramondPro-Italic.otf") format("opentype"); }

.congrats {
  margin-top: 94px;
  margin-bottom: 91px; }
  .congrats .heading {
    text-align: center; }
    .congrats .heading img {
      height: 108px;
      width: 108px; }
    .congrats .heading h1 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 49.821px;
      line-height: 75px;
      text-align: center;
      color: #263238; }
    .congrats .heading p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18.6829px;
      line-height: 28px;
      color: #263238; }
  .congrats .post-preview {
    text-align: center; }
  .congrats .post-url {
    text-align: center; }
    .congrats .post-url p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18.6829px;
      line-height: 28px;
      color: #263238; }
  .congrats .share {
    text-align: center; }
    .congrats .share img {
      width: 39px;
      height: 39px; }
    .congrats .share .mobile {
      display: none; }
    .congrats .share .twitterShare {
      margin-top: 5px; }

.modal .modal-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #263238; }

.modal label {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #263238; }

.modal input {
  margin-top: -10px;
  padding: 0;
  width: 80%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #a3e4a0; }

.modal input::placeholder, .modal textarea::placeholder {
  color: rgba(156, 156, 156, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.modal .send-btn {
  border-radius: 100px;
  border-color: transparent;
  background-color: #96D293;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17.7876px;
  line-height: 27px;
  color: #263238; }

@media (max-width: 768px) {
  .congrats {
    margin-top: 41px; }
    .congrats .heading {
      text-align: center; }
      .congrats .heading img {
        height: 62px;
        width: 62px; }
      .congrats .heading h1 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 43px;
        color: #263238; }
      .congrats .heading p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #263238; }
    .congrats .post-preview {
      text-align: center; }
    .congrats .post-url {
      text-align: center; }
    .congrats .share {
      margin-top: 39px;
      margin-bottom: 25px;
      text-align: center; }
      .congrats .share .large {
        display: none; }
      .congrats .share img {
        width: 30px;
        height: 30px; } }
