@font-face {
  font-family: 'GaramondPro';
  src: url("../fonts/AGaramondPro-Italic.otf") format("opentype"); }

.donate {
  text-align: center;
  margin-top: 110px; }
  .donate .hand_hearth-img img {
    width: 87px;
    height: 87px; }
  .donate h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #263238; }
  .donate .whole-team-img img {
    width: 847px;
    height: 474px; }
  .donate .description p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #263238; }
  .donate .to-whom-donate .row {
    margin-bottom: 80px; }
    .donate .to-whom-donate .row .donate-to-us {
      padding-top: 20px;
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-color: #96D293;
      border-radius: 10px;
      height: 140px; }
      .donate .to-whom-donate .row .donate-to-us img {
        width: 100px;
        height: 100px; }
      .donate .to-whom-donate .row .donate-to-us p {
        padding-top: 27px;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #263238; }
      .donate .to-whom-donate .row .donate-to-us .btn {
        margin-top: 20px;
        background-color: #96D293;
        width: 200px;
        height: 62px;
        border-radius: 100px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 26.8667px;
        line-height: 40px;
        color: #263238; }
    .donate .to-whom-donate .row .other-orgs {
      text-align: left;
      margin-top: 54px;
      margin-bottom: 32px; }
    .donate .to-whom-donate .row .donate-to-other {
      margin-top: 20px; }
      .donate .to-whom-donate .row .donate-to-other .other {
        height: 140px;
        padding-top: 20px;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #96D293;
        border-radius: 10px;
        text-align: left; }
        .donate .to-whom-donate .row .donate-to-other .other img {
          width: 100px;
          height: 100px; }
        .donate .to-whom-donate .row .donate-to-other .other p {
          padding-left: 10px;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #263238; }
        .donate .to-whom-donate .row .donate-to-other .other .btn {
          background-color: #96D293;
          width: 200px;
          height: 55px;
          border-radius: 100px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 40px;
          color: #263238; }

@media (max-width: 768px) {
  .donate {
    margin-top: 42px;
    text-align: center; }
    .donate .hand_hearth-img img {
      width: 56px;
      height: 56px; }
    .donate h1 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color: #263238; }
    .donate .whole-team-img img {
      width: 312px;
      height: 174px; }
    .donate .description p {
      margin-top: 20px;
      text-align: left;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #263238; }
    .donate .to-whom-donate .row {
      margin-bottom: 80px; }
      .donate .to-whom-donate .row .donate-to-us {
        padding-top: 5px;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #96D293;
        border-radius: 10px;
        height: 110px; }
        .donate .to-whom-donate .row .donate-to-us img {
          text-align: left;
          width: 56px;
          height: 56px; }
        .donate .to-whom-donate .row .donate-to-us p {
          margin-left: 30px;
          padding-top: 0px;
          text-align: left;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 18px;
          color: #263238; }
        .donate .to-whom-donate .row .donate-to-us .btn {
          margin-top: 20px;
          margin-left: -32px;
          background-color: #96D293;
          width: 108px;
          height: 39px;
          border-radius: 100px;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #263238; }
      .donate .to-whom-donate .row .other-orgs {
        text-align: left;
        margin-top: 26px;
        margin-bottom: 16px; }
        .donate .to-whom-donate .row .other-orgs h5 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px; }
      .donate .to-whom-donate .row .donate-to-other {
        margin-top: 0px; }
        .donate .to-whom-donate .row .donate-to-other .other {
          height: 71px;
          padding-top: 5px;
          margin-bottom: 20px;
          border-style: solid;
          border-width: 2px 2px 2px 2px;
          border-color: #96D293;
          border-radius: 10px;
          text-align: left; }
          .donate .to-whom-donate .row .donate-to-other .other img {
            width: 56px;
            height: 56px; }
          .donate .to-whom-donate .row .donate-to-other .other p {
            margin-bottom: 0;
            padding-left: 10px;
            text-align: left;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #263238; }
          .donate .to-whom-donate .row .donate-to-other .other .btn {
            margin-top: 0px;
            background-color: #96D293;
            width: 108px;
            height: 39px;
            border-radius: 100px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #263238; } }
