.navbar .navbar-brand {
  margin-left: 85px; }
  .navbar .navbar-brand .imagen {
    width: 26px;
    height: 26px;
    margin: -15px -10px 0px 0px; }
  .navbar .navbar-brand .size {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    margin: 0px 0px 0px 0px; }

@media (max-width: 768px) {
  .footer {
    display: none; }
  .responsive-footer {
    background-color: #96D293; }
    .responsive-footer .row .faq {
      margin-top: 17px; }
    .responsive-footer .row p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #263238; }
    .responsive-footer .row a {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #263238; } }

@media (min-width: 769px) {
  .footer {
    height: 80px; }
    .footer .navbar-brand {
      margin-left: 40px; }
      .footer .navbar-brand img {
        width: 160px;
        height: 45px; }
    .footer .navigate-links .footer-pages li a {
      padding-top: 12px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #263238; }
    .footer .navigate-links .copyright li a {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18.6667px !important;
      line-height: 28px !important;
      color: #263238 !important; }
  .responsive-footer {
    display: none; } }
