@font-face {
  font-family: 'GaramondPro';
  src: url("../fonts/AGaramondPro-Italic.otf") format("opentype"); }

footer .footer-copyright {
  background-color: #2E2C2C; }
  footer .footer-copyright p {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    color: mintcream; }
