.teagradezco .main-section {
  margin-top: 50px;
  margin-bottom: 42px;
  text-align: center; }
  .teagradezco .main-section h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #263238; }
  .teagradezco .main-section p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #263238; }
  .teagradezco .main-section .btn {
    width: 280px;
    height: 56px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: #263238;
    background-color: #96D293;
    border-radius: 100px; }

.teagradezco .main-img {
  margin-top: 50px; }
  .teagradezco .main-img img {
    height: 215px;
    width: 130px; }

@media (max-width: 768px) {
  .teagradezco .main-section {
    margin-top: 32px;
    margin-bottom: 42px;
    text-align: left; }
    .teagradezco .main-section h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px; }
    .teagradezco .main-section p {
      font-size: 12px;
      line-height: 18px; }
    .teagradezco .main-section .button-agradecer .btn {
      width: 145px;
      height: 32px;
      font-size: 12px;
      line-height: 18px; }
  .teagradezco .main-img {
    text-align: left;
    margin-top: 30px; }
    .teagradezco .main-img img {
      height: 100px;
      width: 70px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); } }
