@font-face {
  font-family: 'GaramondPro';
  src: url("../fonts/AGaramondPro-Italic.otf") format("opentype"); }

.main-section {
  margin-top: 50px;
  margin-bottom: 42px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center; }
  .main-section h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #263238; }
  .main-section p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #263238; }
  .main-section .btn {
    width: 280px;
    height: 56px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: #263238;
    background-color: #96D293;
    border-radius: 100px; }

.main-section-center {
  text-align: justify;
  grid-column-start: 2; }

.main-section-title {
  grid-column-start: 2; }

.button-agradecer {
  grid-column-start: span 3; }

.lightbox-container {
  position: absolute;
  z-index: 3; }

.main-img {
  height: 100%;
  justify-self: start;
  grid-row-end: span 2;
  grid-row-start: 1;
  margin-left: 25px;
  grid-column: 3; }

.sharing-modal .modal-header {
  background-color: #96D293; }
  .sharing-modal .modal-header .modal-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #263238; }

.sharing-modal .modal-body .mobile {
  display: none; }

.sharing-modal .modal-body img {
  width: 30px;
  height: 30px; }

.sharing-modal label {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #263238; }

.sharing-modal input {
  margin-top: -10px;
  padding: 0;
  width: 40%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(163, 228, 160, 0.3); }

.sharing-modal input::placeholder, .sharing-modal textarea::placeholder {
  color: rgba(156, 156, 156, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.sharing-modal .send-btn {
  height: auto;
  border-radius: 100px;
  border-color: transparent;
  background-color: #96D293;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #263238; }

@media (max-width: 768px) {
  .main-section {
    text-align: center;
    padding: 0; }
    .main-section h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center; }
    .main-section p {
      font-size: 12px;
      line-height: 18px; }
    .main-section .button-agradecer .btn {
      margin-top: 10px;
      line-height: 18px;
      width: 180px;
      height: 40px;
      font-size: 14px; }
  .main-img {
    display: none; }
  .sharing-modal .modal-body .mobile {
    display: inline !important; }
  .sharing-modal .modal-body img {
    width: 39px;
    height: 39px; }
  .sharing-modal .modal-body .large {
    display: none; }
  .main-section-center {
    grid-column-start: span 3;
    padding: 0 10vw; } }
