//colors
$light-green: #a3e4a0;
$light-pink: #eba293;
$cyan: #6dd3c4;
$light-orange: #f3b163;
$light-purple: #c0a5d6;
$light-black: #263238;

//sizes
$grid-unit-width: 210px;
$grid-unit-height: 150px;
$grid-gap: 13px; 