@import "config";


.congrats{
  margin-top: 50px;
  margin-bottom: 91px;
  .heading{
    text-align: center;
    img{
      height: 108px;
      width: 108px;
    }

    h1{
      font-family: $general;
      font-style: normal;
      font-weight: normal;
      font-size: 49.821px;
      line-height: 75px;
      text-align: center;
      color: $light-black;
    }
    p{
      font-family: $general;
      font-style: normal;
      font-weight: normal;
      font-size: 18.6829px;
      line-height: 28px;
      color: $light-black;
    }
  }
  .post-preview{
    text-align: center;
  }
  .post-url{
    p{
      font-family: $general;
    font-style: normal;
    font-weight: normal;
    font-size: 18.6829px;
    line-height: 28px;
    color: $light-black;
    }
    text-align: center;
  }
  .share{
    text-align: center;
    img{
      width: 39px;
      height: 39px;
    }
    .mobile{
      display: none;
    }
    .twitterShare{
      margin-top: 5px;
    }
  }
}
.modal{
  .modal-title{
    font-family: $general;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: $light-black;
  }
  label{
    margin-top: 24px;
    font-family: $general;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $light-black;
  }
  input{
    margin-top: -10px;
    padding: 0;
    width: 80%;
    outline: 0;
    border-width: 0 0 1px;
    border-color: $light-green;
  }
  input::placeholder, textarea::placeholder{
    color: $grey;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  .send-btn{
    border-radius: 100px;
    border-color: transparent;
    background-color: $dark-green;
    font-family: $general;
    font-style: normal;
    font-weight: 500;
    font-size: 17.7876px;
    line-height: 27px;
    color: $light-black;
  }
}

@media (max-width: 768px) {
  .congrats{
    margin-top: 41px;
    .heading{
      text-align: center;
      img{
        height: 62px;
        width: 62px;
      }
      h1{
        font-family: $general;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 43px;
        color: $light-black;
      }
      p{
        font-family: $general;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $light-black;
      }
    }
    .post-preview{
      text-align: center;
    }
    .post-url{
      text-align: center;
    }
    .share{
      margin-top: 39px;
      margin-bottom: 25px;
      text-align: center;
      .large{
        display: none;
      }
      .mobile{
        display: inline;
        img{
          width: 30px!important;
          height: 30px!important; 
        }
      }
      img{
        width: 30px!important;
        height: 30px!important; 
      }
    }
  }
}



.post-url-input{
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.post-url-button{
  border-radius: 15px;
  background-color:$dark-green; 
  border: 1px solid $dark-green;
}
