@import "config";

p,h2, label,input::placeholder, textarea::placeholder{
  font-family: $general;
}


.light-purple, .light-orange, .light-pink, .cyan{
  margin-left: 7px;
  border-radius: 5px;
  width: 27px;
  height: 27px;
}
.light-purple{background-color: $light-purple;}
.light-orange{background-color: $light-orange;}
.cyan{background-color: $cyan;}
.light-pink{background-color: $light-pink;}


.typo1, .typo2, .typo3, .typo4{
  margin: 0;
  padding: 5px 0 0 15px;
  font-family: $card1;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: $light-black;
}

.typo2{
  font-family: $card2;
  font-style: normal;
}
.typo3{
  font-family: $card3;
  font-style: normal;
}
.dropdown-menu{
  width: 50px!important;
}

@media (max-width: 768px){
  .typo1, .typo2, .typo3, .typo4{
    width: 50px;
    margin-left:10px!important;
  }
  .container-fluid {
    padding-left: 24px!important;
    padding-right: 24px!important;
    .create-post-section {
      .create-post-box {
        height: 100vh;
        padding: 0 !important;
        .man-clapping {
          display: none;
        }

        .title {
          font-size: 21.46px !important;
          line-height: 32px !important;
          text-align: left;
          width: 100%;
        }

        .description {
          font-size: 12px !important;
          line-height: 18px !important;
          margin-bottom: 17.3px !important;
        }

        .form {
          margin-top: 0 !important;

          input {
            width: 100% !important;
          }
            .add-to-post {
              .padding {
                margin-left: 23px!important;
                .styles-title {
                  p{
                    padding-top: 10px!important;
                  }
                }

                .imgs{
                  padding: 0;
                  margin-left: 0px;
                  margin-right: 10px;
                }
              }
            }
          .summit-btn-area {
            padding-top: 18px !important;
            padding-bottom: 20px !important;
            text-align: center !important;
          }
        }
      }
    }
  }
}

.create-post-section{
  .main-margin{
    height: 10vh;
  }
  .create-post-box{
    height: 100vh;
    padding: 30px 69px;
    .title{
      text-align: left!important;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: $light-black;
    }
    .description{
      color: $light-black;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $light-black;
    }
    .man-clapping{
      margin-right: 30px;
    }
    .form{
      margin-top:25px;
      .styles-bar{
        background-color: $translucid-green;
        border-width: 3px 3px 0px 3px;
        border-color: $dark-green;
        border-style: solid;
        .padding{
          padding-left: 23px;
          padding-top: 10px;
          .styles-title{
            p{
              color: $light-black;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 12px;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .add-to-post{
        border-color: $dark-green;
        border-width: 0px 3px 3px 3px;
        border-style: solid;
        .padding{
          padding-left: 23px;
          padding-top: 10px;
          .styles-title{
            color: $light-black;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            padding: 0;
          }
        }
      }
      textarea{
        height: 150px;
        border-color: $dark-green;
        border-radius: 0px;
        border-width: 0px 3px 0px 3px;
        resize: none;
      }
      textarea:focus{
        box-shadow: none;
      }
      input {
        margin-top: -10px;
        padding: 0;
        width: 400px;
        outline: 0;
        border-width: 0 0 2px;
        border-color: $dark-green;
      }
      input::placeholder, textarea::placeholder{
        color: $grey;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
      }
      input:focus {
        border-color: $dark-green;
        box-shadow: none;
      }
      .summit-btn-area{
        text-align: right;
        padding-bottom: 40px;
        .btn{
          background-color: $dark-green;
          border-radius: 60px;
          p{
            font-style: normal;
            font-weight: 500;
            font-size: 17.78px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}