@import "config";

.donate{
  text-align: center;
  margin-top: 110px;
  .hand_hearth-img{
    img{
      width: 87px;
      height: 87px;
    }
  }
  h1{
    font-family: $general;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color:$light-black;
  }
  .whole-team-img{
    img{
      width: 847px;
      height: 474px;
    }
  }
  .description{
    p{
      font-family: $general;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 38px;
      color:$light-black;
    }
  }
  .to-whom-donate{
    .row{
      margin-bottom: 80px;
      .donate-to-us{
        padding-top: 20px;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: $dark-green;
        border-radius: 10px;
        height: 140px;
        img{
          width: 100px;
          height: 100px;
        }
        p{
          padding-top: 27px;
          text-align: left;
          font-family: $general;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $light-black;
        }
        .btn{
          margin-top: 20px;

          background-color: $dark-green;
          width: 200px;
          height: 62px;
          border-radius: 100px;

          font-family: $general;
          font-style: normal;
          font-weight: 500;
          font-size: 26.8667px;
          line-height: 40px;
          color: $light-black;
        }
      }
      .other-orgs{
        text-align: left;
        margin-top: 54px;
        margin-bottom: 32px;
      }
      .donate-to-other{
        margin-top: 20px;
        .other{
          height: 140px;
          padding-top: 20px;

          border-style: solid;
          border-width: 2px 2px 2px 2px;
          border-color: $dark-green;
          border-radius: 10px;
          text-align: left;
          img{
            width: 100px;
            height: 100px;
          }
          p{
            padding-left: 10px;
            text-align: left;
            font-family: $general;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $light-black;
          }
          .btn{
            //margin-top: 20px;

            background-color: $dark-green;
            width: 200px;
            height: 55px;
            border-radius: 100px;

            font-family: $general;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 40px;
            color: $light-black;
          }
        }

      }
    }
  }
}

@media (max-width: 768px){
  .donate{
    //margin-left: 10px;
    //margin-right: 10px;
    margin-top: 42px;
    text-align: center;
    .hand_hearth-img{
      img{
        width: 56px;
        height: 56px;
      }
    }
    h1{
      font-family: $general;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color:$light-black;
    }
    .whole-team-img{
      img{
        width: 312px;
        height: 174px;
      }
    }
    .description{
      p{
        margin-top: 20px;
        text-align: left;
        font-family: $general;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color:$light-black;
      }
    }
    .to-whom-donate{
      .row{
        margin-bottom: 80px;
        .donate-to-us{
          padding-top: 5px;
          border-style: solid;
          border-width: 2px 2px 2px 2px;
          border-color: $dark-green;
          border-radius: 10px;
          height: 110px;
          img{
            text-align: left;
            width: 56px;
            height: 56px;
          }
          p{
            margin-left: 30px;
            padding-top: 0px;
            text-align: left;
            font-family: $general;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 18px;
            color: $light-black;
          }
          .btn{
            margin-top: 20px;
            margin-left: -32px;

            background-color: $dark-green;
            width: 108px;
            height: 39px;
            border-radius: 100px;

            font-family: $general;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: $light-black;
          }
        }
        .other-orgs{
          text-align: left;
          margin-top: 26px;
          margin-bottom: 16px;
          h5{
            font-family: $general;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .donate-to-other{
          margin-top: 0px;
          .other{
            height: 71px;
            padding-top: 5px;
            margin-bottom: 20px;

            border-style: solid;
            border-width: 2px 2px 2px 2px;
            border-color: $dark-green;
            border-radius: 10px;
            text-align: left;
            img{
              width: 56px;
              height: 56px;
            }
            p{
              margin-bottom: 0;
              padding-left: 10px;
              text-align: left;
              font-family: $general;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: $light-black;
            }
            .btn{
              margin-top: 0px;

              background-color: $dark-green;
              width: 108px;
              height: 39px;
              border-radius: 100px;

              font-family: $general;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: $light-black;
            }
          }
        }
      }
    }
  }
}