@import "config";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,$grid-unit-width);
  grid-template-rows: repeat(auto-fit,$grid-unit-height);
  grid-gap: $grid-gap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  list-style: none;
	grid-auto-flow: row dense;
	max-width: 100%;
  padding: 0px;
}
 
.container>.item {
	display: flex;
	min-width: $grid-unit-width;
	min-height: $grid-unit-height;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;	
	font-size: 20px;
}

.item > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  }

.item > img {
  padding:0px;
  width:100%;
}



.width2 {
	grid-column: span 2
}

.height2 {
	grid-row: span 2;
	height:$grid-unit-height*2+$grid-gap;
}

.width {
	max-width: $grid-unit-width;
}

.height {
	max-height: $grid-unit-height;
}

.button{
	background-color: green;
	border: 1px solid black;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	margin: 20px;
}

.header{
	display: flex;
	flex-direction: row;
  	align-items: center;
  	justify-content: left
}

.input{
	 height: 15px;
	 width: 40px;
	 margin-right: 15px;
}

.light-green{
	background-color: #a3e4a0;
}

.light-pink{
	background-color: #eba293;
}

.cyan{
	background-color: #6dd3c4;
}

.light-orange{
	background-color: #f3b163;
}

.light-purple{
	background-color: #c0a5d6;
}


