@import "config";
.navbar{
  margin-bottom: 0!important;
  background-color: $dark-green;
  height: 76px;
  .navbar-brand{
    margin-left: 85px;
    img{
      width:200px;
      height: 50px;
    }
  }
  .navigate-links{
    ul{
      margin-right: 85px;
      li{
        a{
          font-family: $general;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: $light-black!important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar{
    height: 57px;
    .navbar-collapse{
      ul{
        padding-left: 15px!important;
      }
      margin-top: 7px;
      z-index: 10;
      background-color: white;
    }
    .navbar-brand{
      margin-top: -15px;
      margin-left: 20px;
      img{
        width:144px;
        height: 37.5px;
      }
    }
    .navbar-toggler{
      margin-top: -10px;
      border-color: transparent;
    }
  }
}