@import "config"; 
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";

.postscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax($grid-unit-width,$grid-unit-width));
  grid-gap: $grid-gap;
  justify-content: center;
  margin: 0 auto;
  grid-auto-flow: row dense;
  min-width: 95vw;
  max-width: 95vw;
  padding: 0px;
  grid-auto-rows: $grid-unit-height;
  line-height: 1.1;
  margin-top: 30px; 
  margin-bottom: 30px; 
}

.postscontainer>.item {
  display: flex;
  border-radius: 10px;
  position: relative;
  justify-content: center;

}

.item > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  align-self: center;
}

.item > img {
  width:100%;
  object-fit: cover;
  border-radius: 10px;
}
.overlayFade{
  height: 100%;
  width:100%;
  top:0;
  left:0;
  background-color: #ff946bbd;
}
.overlay {
  position: absolute;
  opacity: 0;
  transition:all .3s ease;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.item:hover .overlay,.item:hover .overlayFade {
  opacity: 0.96;
}

.overlay-from{
  grid-row-start: 1;
  grid-column: 1 / span 5;
}
.overlay-buttons-1{
  grid-row-start: 3;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-self: start;

}

.overlay-buttons-2{
  grid-row-start: 3;
  grid-column-start: 3;
  align-self: start;
}

.overlay-buttons-3{
  grid-row-start: 3;
  grid-column-start: 4;
  align-self: start;
}

.width2 {
  grid-column: span 2;
}

.height2 {
  grid-row: span 2;
}


.width {
  max-width: $grid-unit-width;
}

.height {
  max-height: $grid-unit-height;  
}

.input{
  height: 15px;
  width: 40px;
  margin-right: 15px;
}

.light-green{
  background-color: #a3e4a0;
}

.light-pink{
  background-color: #eba293;
}

.cyan{
  background-color: #6dd3c4;
}

.light-orange{
  background-color: #f3b163;
}

.light-purple{
  background-color: #c0a5d6;
}

.btn-circle {
  width: $btn-circle-width;
  height: $btn-circle-width;
  padding: 6px 0px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  position: fixed;
  left: calc(95vw - #{$btn-circle-width}); 
  bottom: 5vh;
  z-index:2;
  transition: opacity 0.5s ease-in;
}

.btn-circle:focus {
  box-shadow: none;
}

.btn-circle.show {
  opacity: 1;
}
.btn-circle.hide {
  opacity: 0;
}
