@import "config"; 
@import "lightbox";

body{
  background-color: #f5f5f5
}
.postscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit,$grid-unit-width);
  grid-gap: $grid-gap;
  justify-content: center;
  margin: 0 auto;
  grid-auto-flow: row dense;
  max-width: 90vw;
  padding: 0px;
  grid-auto-rows: $grid-unit-height;
  line-height: 1.1;
  margin-top: 30px; 
  margin-bottom: 30px; 
  font-size:1em;
}


.item {
  display: flex;
  border-radius: 10px;
  position: relative;
  justify-content: center;
}

.item > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  align-self: center;
  max-height: 100%;
  text-align: center;
}

.item > img {
  width:100%;
  object-fit: cover;
  border-radius: 10px;
}
.overlayFade{
  height: 100%;
  width:100%;
  top:0;
  left:0;
  background-color: $light-green;
}
.overlay {
  position: absolute;
  opacity: 0;
  transition:all .3s ease;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.item:hover .overlay,.item:hover .overlayFade {
  opacity: 0.90;
}

.overlay-from{
  grid-row-start: 1;
  grid-column: 1 / span 5;
}
.overlay-buttons-1{
  grid-row-start: 3;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: center;
  margin-bottom: 10px;

}

.overlay-buttons-2{
  grid-row-start: 3;
  grid-column-start: 3;
  align-self: start;
}

.overlay-buttons-3{
  grid-row-start: 3;
  grid-column-start: 4;
  align-self: start;
}

.width2 {
  grid-column: span 2;
}

.height2 {
  grid-row: span 2;
}

.width3 {
  grid-column: span 3;
}

.height3 {
  grid-row: span 3;
}


.width {
  max-width: $grid-unit-width;
}

.height {
  max-height: $grid-unit-height;  
}

.input{
  height: 15px;
  width: 40px;
  margin-right: 15px;
}

.light-green{
  background-color: $light-green;
}

.light-pink{
  background-color: $light-pink;
}

.light-cyan{
  background-color: $light-cyan;
}

.light-orange{
  background-color: $light-orange;
}

.light-purple{
  background-color: $light-purple;
}

.green{
  background-color: $green;
}

.pink{
  background-color: $pink;
}

.cyan{
  background-color: $cyan;
}

.orange{
  background-color: $orange;
}

.purple{
  background-color: $purple;
}


.border-green{
  border: solid 1px $green;
}

.border-pink{
  border: solid 1px $pink;
}

.border-cyan{
  border: solid 1px $cyan;
}

.border-orange{
  border: solid 1px $orange;
}

.border-purple{
  border: solid 1px $purple;
}


.btn-circle {
  width: $btn-circle-width;
  height: $btn-circle-width;
  padding: 6px 0px;
  border-radius: 100%!important;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  position: fixed;
  left: calc(95vw - #{$btn-circle-width}); 
  bottom: 10vh;
  z-index:2;
  transition: opacity 0.5s ease-in;
  background-color:$dark-green;
}

.btn-circle:focus {
  box-shadow: none;
}

.btn-circle.show {
  opacity: 1;
}
.btn-circle.hide {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .postscontainer {
    grid-template-columns: repeat(auto-fit,$grid-unit-width-mobile);
    grid-gap: $grid-gap-mobile;
    margin-left: 0;
    margin-right: 0;
    font-size:1em;
    max-width: 100vw;
  }

  .btn-circle{
    width: $btn-circle-width-sm;
    height: $btn-circle-width-sm;
    font-size: 15px;
    bottom: 5vh;
    left: calc(95vw - #{$btn-circle-width-sm});
  }
}