<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>#GraciasPorCuidarnos</title>

    {{> base_metaog}}

    <!-- styles -->
    <link rel="stylesheet" href="css/e404.css">
    {{> basics_styles}}

</head>
<body>
    {{> navbar}}
    <div class="container-fluid e404">
        <div class="row">
            <div class="col-lg-6 order-lg-1 order-2 col-12 header">
                <img src="img/search.png">
                <h1>Error 404</h1>
                <p>Página no encontrada</p>
                <a href="/">
                    <button class="btn">Volver al inicio</button>
                </a>
            </div>
            <div class="col-lg-6 order-lg-2 col-12 order-1 main-img">
                <img src="img/404.png">
            </div>
        </div>
    </div>
    {{> footer}}



</body>
</html>

