<div class="container-fluid congrats">
    <div class="heading">
        <img src="img/clap-green-background.png">
        <h1>¡Muchas gracias!</h1>
        <p>Tu agradecimiento fue subido exitosamente </p>
    </div>
    <div class="postscontainer">
            {{> congrats_post card}}
    </div>
    <div class="post-url">
        {{url}}
    </div>
    <div class="row share">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-12">
            <img src="img/whatsapp_logo.png">
            <img src="img/instagram_logo.png">
            <img src="img/facebook_logo.png">
            <img src="img/twitter_logo.png">
            <img src="img/email_logo.png">
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>