<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {{> basics_styles}}
    <link rel="stylesheet" href="css/create_post_congrats.css">
    <link rel="stylesheet" href="css/postsgrid.css">
</head>
<body>
{{> navbar}}
<div class="container-fluid congrats">
    <div class="heading">
        <img src="img/clap-green-background.png">
        <h1>¡Muchas gracias!</h1>
        <p>Tu agradecimiento fue subido exitosamente </p>
    </div>
    <div class="postscontainer">
        {{> congrats_post card}}
    </div>
    <div class="post-url">
        {{url}}
    </div>
    <div class="row share">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-12">
            <a class="mobile" href="whatsapp://send?text=te%20envio%20carta%20de%20agradecimiento%20para%20vos%20{{url}}">
                <img src="img/whatsapp_logo.png">
            </a>
            <a class="large" href="https://web.whatsapp.com/send?text=te%20envio%20carta%20de%20agradecimiento%20para%20vos%20{{url}}">
                <img src="img/whatsapp_logo.png">
            </a>
            <img src="img/instagram_logo.png">
            <img src="img/facebook_logo.png">
            <img src="img/twitter_logo.png">
            <img src="img/email_logo.png">
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

    {{> footer}}
    <script type="text/javascript" src="js/create_post_congrats.js" defer></script>

</body>
</html>

