<div class="container-fluid create-post">
    <div class="row">
        <div class="col-lg-2"></div>
<!--        main section-->
        <div class="col-lg-8">
<!--            heading, photo and title-->
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 man-clapping">
                    <img src="window_man_clap.png">
                </div>
                <div class="col-lg-7 heading-post">
                    <h1>¡Es hora de agradecer!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
<!--            end heading, photo and title-->
<!--            destinatario-->
            <label>¿A quién o quienes le queres agradecer? (opcional)</label>
            <input id="destinatario" type="name" placeholder="Escribe aquí">
            <br>

<!--            mensaje-->
            <label>¡Dejá tu mensaje!</label>
            <div class="editor">
                <div class="styles">
                    <div class="row ml-1">
                        <div class="col-lg-1 col-2 estilo">
                            <p>Estilo</p>
                        </div>
                        <div class="col-lg-2 col-2 tipografia">
                            <p>tipografia</p>
                        </div>
                        <div class="col-lg-1 col-2 space"></div>
                        <div class="col-lg-1 col-2 fondo">
                            <p>Fondo</p>
                        </div>
                        <div class="col-lg-1 col-2 picker">
                            <p>picker</p>
                        </div>
                    </div>
                </div>
<!--                bloque de texto-->
                <textarea id="carta" placeholder="Escribe aquí"></textarea>
<!--                end bloque de texto-->

<!--                agregar una foto-->
                <div class="add-photo">
                    <div class="row ml-1">
                        <div class="col-lg-3 col-7">
                            <p>Agrega a tu publicación</p>  
                        </div>
                        <div class="col-1">
                            <img src="add_photo.jpeg">
                        </div>
                    </div>
                </div>
<!--                end agregar una foto-->
            </div>
<!--            end mensaje-->

<!--            firma-->
            <label>Firmá tu agradecimiento (opcional)</label>
            <input id="firma" type="name" placeholder="Escribe aquí">
<!--            end firma-->

            <div class="send-btn">
                <button type="button" class="btn">Enviar agradecimiento</button>
            </div>
        </div>
<!--        end main section-->
        <div class="col-lg-2"></div>
    </div>
</div>