<div class="container-fluid donate">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="hand_hearth-img">
                <img src="hand_hearth.jpeg">
            </div>
            <h1>Ayudanos a ayudar</h1>
            <div class="love_your_neighbour-img">
                <img src="love_your_neighbour.jpeg" >
            </div>
            <div class="description">
                <p>
                    Somos un grupo de voluntarios que nos unimos para  colaborar durante la pandemia.
                    Creamos  proyectos de ayuda para que la sociedad se pueda expresar y agradecer a través de medios digitales.
                </p>
            </div>
            <br>
            <div class="to-whom-donate">
                <div class="row">
                    <div class="col-12 col-lg-4 donable">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn">Donar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 donable">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn">Donar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 donable">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn">Donar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
