<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donanos</title>
     
    {{> base_metaog}}

    <link rel="stylesheet" href="css/dona.css">
    {{> basics_styles}}
    

</head>


<body>
    <header>
        <!--Inicio Navbar -->
        {{> navbar}}
        <!--Fin Navbar -->
    </header>

    <!-- Inicio contenedor -->
    <div class="container">

        <section id="contenedorDonar">

            <img src="/img/hand_hearth.jpeg" alt="logo" id="imgAyuda">

            <h1 id="tituloDonar">Ayudanos a ayudar</h1>

            <h5 id="subtituloDonar">
                <p>Somos un grupo de voluntarios que nos unimos para colaborar durante la pandemia.</p> 
                <p>Necesitamos de tu ayuda para que graciasporcuidarnos.com.ar se mantenga en línea y los agradecimientos no se los lleve el viento.</p>
            </h5>

            <div id="donaciones">
                <div id="donar">
                    <p id="valorDonacion">$100</p>
                    <p>equivalente a</p>
                    <p id="tiempoDonacion">1 día</p>
                    <p>en costos de mantenimiento</p>
                    <button id="btnColaborar" class="btn-principal">Colaborar</button>
                </div>

                <div id="donar">
                    <p id="valorDonacion">$700</p>
                    <p>equivalente a</p>
                    <p id="tiempoDonacion">1 semana</p>
                    <p>en costos de mantenimiento</p>
                    <button id="btnColaborar" class="btn-principal">Colaborar</button>
                </div>

                <div id="donar">
                    <p id="valorDonacion">$3.000</p>
                    <p>equivalente a</p>
                    <p id="tiempoDonacion">1 mes</p>
                    <p>en costos de mantenimiento</p>
                    <button id="btnColaborar" class="btn-principal">Colaborar</button>
                </div>

                <div id="donar">
                    <p id="valorDonacion">$18.000</p>
                    <p>equivalente a</p>
                    <p id="tiempoDonacion">6 meses</p>
                    <p>en costos de mantenimiento</p>
                    <button id="btnColaborar" class="btn-principal">Colaborar</button>
                </div>
            </div>

            <img src="/img/whole_team.png" alt="donar" id="imgDonar">

            <h2 id="graciasDonar">¡<b>Muchas gracias</b> por ser parte!</h2>


        </section>

    </div>
    <!-- Fin contenedor -->


    <!-- Footer -->
    {{> footer}}
    <!-- Footer -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>
