<div class="container-fluid text-center faq">
    <img src="question.jpeg">
    <h1>Preguntas frecuentes</h1>
    <div class="row questions text-left">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="qa">
                <h5>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  </p>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>