<div class="container-fluid text-center faq">
    <img src="img/question.jpeg">
    <h1>Preguntas frecuentes</h1>
    <div class="row questions text-left">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="qa">
                <h5>¿Cómo creo un mensaje?</h5>
                <p>
                    Presionando “Quiero Agradecer”. Luego se desplegará la opción para crear tu mensaje. Puede ser una nota, una foto o un gif.
                </p>
            </div>
            <div class="qa">
                <h5>¿El mensaje es anónimo?</h5>
                <p>
                    Todos los que ingresen al sitio teagradezco.com y en las redes sociales donde los usuarios compartan la dedicatoria.
                </p>
            </div>
            <div class="qa">
                <h5>¿Quién puede ver los agradecimientos?</h5>
                <p>
                    Todos los que ingresen al sitio teagradezco.com y en las redes sociales donde los usuarios compartan la dedicatoria.
                </p>
            </div>
            <div class="qa">
                <h5>¿Puedo enviarlo por email?</h5>
                <p>
                    Si, al finalizar el mensaje lo podés descargar, compartir en redes sociales o enviar por email.
                </p>
            </div>
            <div class="qa">
                <h5>¿Para qué son los filtros de agradecimiento?</h5>
                <p>
                    Son para filtrar la búsqueda de agradecimientos.
                </p>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>