<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    
    <title>#GraciasPorCuidarnos</title>

    <!-- styles -->
    {{> basics_styles}}
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/postsgrid.css">
    <link rel="stylesheet" href="css/loader.css">

</head>
<body>
  <div class='lightbox-background' ></div>
  <div class='lightbox lightbox-container' >
    <div class='lightbox-box' >
      <span class='lightbox-text'></span>
      <img class='lightbox-image' />
      <div class='lightbox-buttons'>
        <div class="lightbox-buttons-1" onclick="like(this,${id})">
          <img src="img/clap1.png" width="35" height="35">
          <span class='lightbox-likes'></span>
        </div>
        <img class="lightbox-buttons-2" src="img/share.png" onclick="share(this,${id})" width="35" height="35">
        <img class="lightbox-buttons-3" src="img/report1.png" onclick="report(this,${id})" width="35" height="35">
      </div>
    </div>
  </div>
  {{> navbar}}
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
  class="twitter-share-button" 
  data-text="Escribi este agradecimiento y me gustaria compartirtelo" 
  data-url=" " 
  data-hashtags="graciasporcuidarnos" 
  data-lang="es" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
class="twitter-share-button" 
data-text="Escribi este agradecimiento y me gustaria compartirtelo" 
data-hashtags="graciasporcuidarnos" data-lang="es" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="main-section">
    <div class="main-section-center">
      <h1>#GraciasPorCuidarnos</h1>
      <p>
        Acompañá los aplausos con un mensaje de agradecimiento.
      </p>
      <div class="button-agradecer">
        <a href="/nueva_carta">
          <button type="button" class="btn">¡Quiero agradecer!</button>
        </a>
      </div>
    </div>
    <img src="img/woman_boy_clapping.png" class="main-img">
  </div>

  <div class="postscontainer">
    {{> autoscroller}}
    {{> loader}}
  </div>

<!-- Sharing modal -->
<div class="modal fade" id="emailSharingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envia tu carta por email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label>Ingresa el email del destinatario de tu carta</label>
            </div>
            <div class="col-12">
                <input id="email" name="email" type="email" placeholder="Escribe aquí">
                <p id="email-empty" style="color:red; display: none;">El email no puede estar vacio</p>
                <p id="email-error" style="color:red; display: none;">Formato invalido</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="loading" class="spinner-border text-success" style="display: none;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="btn send-btn btn-primary" onclick="send_email('{{card.text}}','{{card.author}}','{{url}}')">Enviar</button>
      </div>
    </div>
  </div>
</div>
<!-- Sharing modal -->

  {{> footer}}

  <script type="text/javascript" src="js/templates.js"></script>
  <script type="text/javascript" src="js/postsgrid.js"></script>
  <script type="text/javascript" src="js/autoScrolling.js"></script>
  <script type="text/javascript" src="js/lightbox.js"></script>
  <script src="https://use.fontawesome.com/b602b979b2.js"></script>

</body>
</html>
