<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/postsgrid.css">
    <link rel="stylesheet" href="css/loader.css">
    {{> basics_styles}}

</head>
<body>
    {{> navbar}}
    <div class="main-section">
      <h1>#GraciasPorCuidarnos</h1>
      <p>
        Acompañá los aplausos con un mensaje de agradecimiento.
      </p>
      <div class="button-agradecer">
        <a href="/nueva_carta">
          <button type="button" class="btn">¡Quiero agradecer!</button>
        </a>
      </div>
    </div>
    <div class="postscontainer">
      {{> autoscroller}}
      {{> loader}}
    </div>
    {{> footer}}
    <script type="text/javascript" src="js/templates.js"></script>
    <script type="text/javascript" src="js/postsgrid.js"></script>
    <script type="text/javascript" src="js/autoScrolling.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://use.fontawesome.com/b602b979b2.js"></script>

</body>
</html>
