<div class="teagradezco">
    <div class="row">
        <div class="col-lg-3 order-lg-1"></div>
        <div class="col-lg-6 order-lg-2 col-8 order-2 main-section">
            <h1>Te lo agradezco</h1>
            <p>
                Acompañá los aplausos con un mensaje de agradecimiento.
            </p>
            <div class="button-agradecer">
                <a href="/nueva_carta">
                    <button type="button" class="btn">¡Quiero agradecer!</button>
                </a>

            </div>
        </div>
        <div class="col-lg-1 order-lg-3 col-3 order-1 main-img">
            <img src="woman_boy_clapping.jpeg">
        </div>
        <div class="col-lg-1 order-lg-4 col-1 order-3"></div>
    </div>
    <div class="postscontainer">
    	{{#each posts as |post|}}
    		{{> post}}
    	{{/each }}
    </div>
    {{> loader}}
</div>