<div class="container teagradezco" id='container'>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 main-section">
            <h1>Te agradezco</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim
            </p>
            <button type="button" class="btn">¡Quiero agradecer!</button>
        </div>
        <div class="col-lg-1 main-img">
            <img src="woman_boy_clapping.jpeg">
        </div>
        <div class="col-lg-1"></div>
    </div>

	{{#each posts as |post|}}
		{{> post}}
	{{/each }}
</div>