<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    
    <title>#GraciasPorCuidarnos</title>

    <!-- styles -->
    {{> basics_styles}}
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/postsgrid.css">
    <link rel="stylesheet" href="css/loader.css">

</head>
<body>
  <div class='lightbox-background' ></div>
  <div class='lightbox lightbox-container' >
    <div class='lightbox-box' >
      <span class='lightbox-text'></span>
      <img class='lightbox-image' />
      <div class='lightbox-buttons'>
        <div class="lightbox-buttons-1" onclick="like(this,${id})">
          <img src="img/clap1.png" width="35" height="35">
          <span class='lightbox-likes'></span>
        </div>
        <img class="lightbox-buttons-2" src="img/share.png" onclick="share(this,${id})" width="35" height="35">
        <img class="lightbox-buttons-3" src="img/report1.png" onclick="report(this,${id})" width="35" height="35">
      </div>
    </div>
  </div>
  {{> navbar}}
  <div class="main-section">
    <div class="main-section-center">
      <h1>#GraciasPorCuidarnos</h1>
      <p>
        Acompañá los aplausos con un mensaje de agradecimiento.
      </p>
      <div class="button-agradecer">
        <a href="/nueva_carta">
          <button type="button" class="btn">¡Quiero agradecer!</button>
        </a>
      </div>
    </div>
    <img src="img/woman_boy_clapping.png" class="main-img">
  </div>

  <div class="postscontainer">
    {{> autoscroller}}
    {{> loader}}
  </div>
  {{> footer}}

  <script type="text/javascript" src="js/templates.js"></script>
  <script type="text/javascript" src="js/postsgrid.js"></script>
  <script type="text/javascript" src="js/autoScrolling.js"></script>
  <script type="text/javascript" src="js/lightbox.js"></script>
  <script src="https://use.fontawesome.com/b602b979b2.js"></script>

</body>
</html>
