<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content="Deja tu agradecimiento en esta pagina para que no se lo lleve el viento">
  
    {{> base_metaog}}
    
    <title>#GraciasPorCuidarnos</title>

    <!-- styles -->
    {{> basics_styles}}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/postsgrid.css">
    <link rel="stylesheet" href="/css/loader.css">

</head>
<body>
  <div class='lightbox-background' ></div>
  <div class='lightbox lightbox-container' >
    <div class='lightbox-box' >
      <span class='lightbox-text'></span>
      <img class='lightbox-image' />
        <div class='lightbox-buttons'>
          <div class="lightbox-button-like" >
            <img src="/img/clap1.png" width="35" height="35">
            <span class='lightbox-likes'></span>
          </div>
          <img class="lightbox-button-share"  data-toggle="modal" data-target="#sharing-modal" src="/img/share.png" width="35" height="35">
          <img class="lightbox-button-report" src="/img/report1.png" width="35" height="35">
        </div>
    </div>
  </div>
  {{> navbar}}
  <div class="main-section">
    <div class="main-section-center">
      <h1>#GraciasPorCuidarnos</h1>
      <p>
        Acompañá los aplausos con un mensaje de agradecimiento.
      </p>
      <div class="button-agradecer">
        <a href="/nueva_carta">
          <button type="button" class="btn">¡Quiero agradecer!</button>
        </a>
      </div>
    </div>
    <img src="/img/woman_boy_clapping.png" class="main-img">
  </div>
  
  <div class="postscontainer">
    {{> autoscroller}}
    {{> loader}}
  </div>

<!-- Sharing modal -->
<div class="sharing-modal modal fade" id="sharing-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compartir</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center" id="sharing-container">
            <p class="text-center">Comparti esta carta por el medio que mas te guste para que lo vean todos!</p>
          </div>
          <div class="col-12 text-center" id="share_email">
              <label>Por email: </label>
              <input id="email" name="email" type="email" placeholder="Escribe aquí">
              <div id="loading" class="spinner-border text-success" style="display: none;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <!-- buttons -->
          </div>
          <div class="col-12">
              <p id="email-empty" style="color:red; display: none;">El email no puede estar vacio</p>
              <p id="email-error" style="color:red; display: none;">Formato invalido</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sharing modal -->

  {{> footer}}

  <script type="text/javascript" src="/js/templates.js"></script>
  <script type="text/javascript" src="/js/postsgrid.js"></script>
  <script type="text/javascript" src="/js/autoScrolling.js"></script>
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <script type="text/javascript" src="/js/sharing.js"></script>
  <script type="text/javascript" src="/js/postById.js"></script>
  <script src="https://use.fontawesome.com/b602b979b2.js"></script>

</body>
</html>
