
<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quienes somos</title>

    <!-- styles -->
    <link rel="stylesheet" href="css/quienes_somos.css">
    {{> basics_styles}}

</head>
<body>
{{> navbar}}
<div class="container-fluid quienes-somos">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="hand-shake-img">
                <img src="img/hand_shake.jpeg">
            </div>
            <h1>Quienes somos</h1>
            <div class="passion-led-us-img">
                <img src="img/passion_led_us_here.jpeg" >
            </div>
            <div class="description">
                <p>
                    Somos una comunidad de voluntarios del ámbito del diseño y desarrollo, dispuestos a crear herramientas digitales para ayudar a la sociedad en tiempos difíciles.
                </p>
            </div>
            <br>
            <h2>Conocé al equipo!</h2>
            <div class="team">
                <div class="row">
                  <div class="col-lg-4 member">
                      <img src="img/esteban.jpg" class="rounded-circle">
                      <h5>Producto</h5>
                      <p class="linkedin">linkedin.com/ESTEBAN </p>
                      <p class="phrase">“A mis amigas que están en residencia. ¡Las quiero!”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="img/foto_julian.jpg" class="rounded-circle">
                        <h5>Project-Leader</h5>
                        <p class="linkedin">linkedin.com/in/julian-atlasovich </p>
                        <p class="phrase">“gracias ma”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="img/Anto Montero.jpg" class="rounded-circle">
                        <h5>Diseño UX-UI</h5>
                        <p class="linkedin">linkedin.com/ANTO </p>
                        <p class="phrase">“A todos los que están al frente,pero en especial a los profes y maestros, heroes silenciosos. A mi hermana Andrea, ¡te quiero!”</p>
                    </div>
                    
                </div>
                <div class="row">
                  <div class="col-lg-4 member">
                        <img src="img/facu.png" class="rounded-circle">
                        <h5>Project-Leader</h5>
                        <p class="linkedin">linkedin.com/FACU </p>
                        <p class="phrase">“A medicos, investigadores y a todos los que desde su lugar aportan su granito de arena a la situacion.”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="img/mariana-ruiz.png" class="rounded-circle">
                        <h5>Diseño UX-UI</h5>
                        <p class="linkedin">linkedin.com/MARU </p>
                        <p class="phrase">“Gracias a todas las personas que han seguido trabajando para que los demás podamos quedarnos en casa.”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="img/Alex.png" class="rounded-circle">
                        <h5>Front End Jr</h5>
                        <p class="linkedin">linkedin.com/ALEX </p>
                        <p class="phrase">“Mi agradecimiento va para aquellas personas, que a costa de su propia vida, nos cuidan y protegen dia a dia.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{{> footer}}



</body>
</html>

