
<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quienes somos</title>

    <!-- styles -->
    <link rel="stylesheet" href="css/quienes_somos.css">
    {{> basics_styles}}

</head>
<body>
{{> navbar}}
<div class="container-fluid quienes-somos">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="hand-shake-img">
                <img src="img/hand_shake.jpeg">
            </div>
            <h1>Quienes somos</h1>
            <div class="passion-led-us-img">
                <img src="img/passion_led_us_here.jpeg" >
            </div>
            <div class="description">
                <p>
                    Somos una comunidad de voluntarios del ámbito del diseño y desarrollo, dispuestos a crear herramientas digitales para ayudar a la sociedad en tiempos difíciles.
                </p>
            </div>
            <br>
            <h2>Conocé al equipo!</h2>
            <div class="team">
                <h3>Diseñadorxs</h3>
                <div class="row">
                    <div class="col-lg-4 member">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                        <h5>Member</h5>
                        <p class="linkedin">linkedin.com/lorem.ipsum </p>
                        <p class="phrase">“A mis amigas que están en residencia. ¡Las quiero!”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                        <h5>Member</h5>
                        <p class="linkedin">linkedin.com/lorem.ipsum </p>
                        <p class="phrase">“A mis amigas que están en residencia. ¡Las quiero!”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                        <h5>Member</h5>
                        <p class="linkedin">linkedin.com/lorem.ipsum </p>
                        <p class="phrase">“A mis amigas que están en residencia. ¡Las quiero!”</p>
                    </div>
                    <div class="col-lg-4 member">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle">
                        <h5>Member</h5>
                        <p class="linkedin">linkedin.com/lorem.ipsum </p>
                        <p class="phrase">“A mis amigas que están en residencia. ¡Las quiero!”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{{> footer}}



</body>
</html>

