<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 footer">
    <a class="navbar-brand" href="/">
        <img src="teagradezco logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 navigate-links">
        <ul class="navbar-nav  mr-auto footer-pages">
            <li class="nav-item">
                <a class="nav-link" href="/faq">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quienes_somos">Quiénes somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dona">Donar</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto copyright">
            <li class="nav-item">
                <a class="nav-link" >2020 Te agradezco</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">

</div>
<div class="container-fluid responsive-footer">
    <div class="row">
        <div class="col-12 text-center faq">
            <a href="/faq">Preguntas frecuentes</a>
        </div>
        <div class="col-12 text-center">
            <a href="/quienes_somos">Quienes somos</a>
        </div>
        <div class="col-12 text-center">
            <a href="/dona">Donar</a>
        </div>
        <div class="col-12 text-center">
            <p>2020 Te agradezco</p>
        </div>

    </div>
</div>

