<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}

		asd
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>